<template>
  <div class="infoMember">
    <h3>Vos informations:</h3>
    <v-card
      max-width="400"
      outlined
      style="background-image: linear-gradient(to bottom, #96f9f9, #b5f9ff, #d8f8ff, #f3faff, #ffffff);"
      elevation="10"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="text-h5 mb-1">
            {{ user.firstName }} {{ user.lastName }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
          <v-list-item-subtitle>{{ user.street }}, {{ user.number }} {{ user.zipcode }} {{ user.city }}</v-list-item-subtitle>
          <v-list-item-subtitle>Membre depuis le <strong>{{ formatDate(user.created.substr(0, 10)) }}</strong></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-card-actions>
        <v-btn
          text
          color="primary"
          icon
          @click="dialog = true"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-row justify="center">
      <v-form @submit.prevent="save()" v-model="valid">
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <v-card>
            <v-card-title>
              <span class="text-h5">Modification des informations de l'utilisateur</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="firstName"
                      :value="user.firstName"
                      label="Prénom"
                      :rules="firstNameRules"
                      :counter="20" 
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="lastName"
                      :value="user.lastName"
                      label="Nom"
                      :rules="lastNameRules"
                      :counter="20"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="10">
                    <v-text-field
                      v-model="street"
                      :value="user.street"
                      label="Rue"
                      :rules="streetRules"
                      :counter="30"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-text-field
                      v-model="number"
                      :value="user.number"
                      label="Numéro"
                      type="number"
                      :rules="numberRules"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-text-field
                      v-model="zipcode"
                      :value="user.zipcode"
                      label="Code postale"
                      :rules="zipcodeRules"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="9">
                    <v-text-field
                      v-model="city"
                      :value="user.city"
                      label="Ville"
                      :rules="cityRules"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
              <small v-if="user.role == 'member'">Pour modifier votre <strong>e-mail</strong>, veuillez contacter votre administrateur.</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="error"
                text
                @click="dialog = false"
              >
                Annuler
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                :disabled="!valid" 
                type="submit"
                @click="dialog = false, save();"
              >
                Enregistrer
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-form>
    </v-row>
    <br><br>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';
import ResponseData from '@/types/ResponseData';
import UserService from '../services/UserService';
import { firstNameRules, lastNameRules, streetRules, numberRules, zipcodeRules, cityRules, passwordRules } from '../utils/SignupValidation';

@Component
export default class InfoMember extends Vue {

  user = this.$store.state.user.data;
  dialog = false;
  valid = false;
  firstName = this.$store.state.firstName;
  lastName = this.$store.state.lastName;
  street = this.user.street;
  number = this.user.number;
  zipcode = this.user.zipcode;
  city = this.user.city;

  //Validation rules
  firstNameRules = firstNameRules;
  lastNameRules = lastNameRules;
  streetRules = streetRules;
  numberRules = numberRules;
  zipcodeRules = zipcodeRules;
  cityRules = cityRules;
  passwordRules = passwordRules;

	
  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  @Emit("message")
  emitMessage(message : string) : string {
    return message;
  }

  save() : void {
    let data = {
      firstName: this.firstName,
      lastName: this.lastName,
      email: this.user.email,
      street: this.street,
      number: this.number,
      zipcode: this.zipcode,
      city: this.city,
      role: this.user.role,
    }
    UserService.updateUser(this.user.id, data)
    .then((response: ResponseData) => {
      this.emitMessage(response.message);
      this.$store.dispatch('setFirstName', response.data.firstName);
      this.$store.dispatch('setLastName', response.data.lastName);
      this.user.firstName = response.data.firstName;
      this.user.lastName = response.data.lastName;
      this.user.street = response.data.street;
      this.user.number = response.data.number;
      this.user.zipcode = response.data.zipcode;
      this.user.city = response.data.city;
    })
    .catch((e: Error) =>{
      this.emitMessage(e.message);
    })
  }


}

</script>



<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

p {
  font-family: 'Oxygen', sans-serif;
  color: rgb(0, 0, 0);
}
</style>