<template>
  <div class="infoGym">
    <h3>Informations de la salle:</h3>
    <v-card
      max-width="400"
      outlined
      style="background-image: linear-gradient(to right bottom, #e9e939, #efcf25, #f2b61b, #f09c1b, #ec8322);"
      elevation="10"
    >
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title class="text-h5 mb-1">
            {{ gym.name }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ gym.address }}</v-list-item-subtitle>
          <v-list-item-subtitle>Créée le {{ formatDate(gym.created.substr(0, 10)) }}</v-list-item-subtitle>
          <div class="text-overline mb-4">
            Personnes autorisées: <strong>{{ gym.maxPlace }}</strong>
          </div>
        </v-list-item-content>
      </v-list-item>

      <v-card-actions>
        <v-btn
          text
          color="primary"
          icon
          @click="dialog = true"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-row justify="center">
      <v-form @submit.prevent="save()" v-model="valid">
        <v-dialog
          v-model="dialog"
          max-width="600px"
        >
          <v-card>
            <v-card-title>
              <span class="text-h5">Modification des informations de la salle</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="gym.name"
                      :value="gym.name"
                      label="Nom"
                      :rules="nameRules"
                      :counter="50" 
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="gym.address"
                      :value="gym.address"
                      label="Adresse"
                      :rules="addressRules"
                      :counter="75"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      v-model="gym.maxPlace"
                      :value="gym.maxPlace"
                      :rules="maxPlaceRules"
                      type="number"
                      label="Nombre de personnes autorisées"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="error"
                text
                @click="dialog = false"
              >
                Annuler
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                :disabled="!valid" 
                type="submit"
                @click="dialog = false, save();"
              >
                Enregistrer
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-form>
    </v-row>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';
import GymService from '@/services/GymService';
import ResponseData from '@/types/ResponseData';
import Gym from '../types/Gym';


/* eslint-disable */
@Component
export default class InfoGym extends Vue {

  gym : Gym = {id : -1, name : '', address : '', maxPlace : -1, created : ''};
  gymId = this.$store.state.user.data.gymId;
  gymName = this.gym.name;
  gymAddress = this.gym.address;
  gymMaxPlace = this.gym.maxPlace;
  dialog = false;
  valid = false;

  nameRules = [
    v => !!v || "Nom requis",
    v => v.length >= 5  || 'Le nom doit contenir au moins 5 caractères',
    v => v.length <= 50  || 'Maximum 50 caractères',
  ];

  addressRules = [
    v => !!v || "Adresse requis",
    v => v.length >= 10  || `L'adresse contenir au moins 10 caractères`,
    v => v.length <= 75  || 'Maximum 75 caractères',
  ];

  maxPlaceRules = [
    v => !!v || "Ce champs est requis",
    v => v >= 0  || `Le nombre doit être valide`,
  ];

  @Emit("message")
  emitMessage(message : string) : string {
    return message;
  }

  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  mounted() : void {
    this.getGym()
  }

  getGym() : void {
    GymService.getGym(this.gymId)
    .then((response: ResponseData) => {
      this.gym = response.data;
      console.log(response.message);
    })
    .catch((e: Error) =>{
      console.log(e);
    })
  }

  save() : void {
    let data = {
      name: this.gym.name,
      address: this.gym.address,
      maxPlace: this.gym.maxPlace,
    }
    GymService.updateGym(this.gymId, data)
    .then((response: ResponseData) => {
      this.emitMessage(response.message);
    })
    .catch((e: Error) =>{
      this.emitMessage(e.message);
    })
  }


}

</script>



<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

p {
  font-family: 'Oxygen', sans-serif;
  color: rgb(0, 0, 0);
}
</style>