<template>
  <div class="mealDetail">
    <v-card
      max-width="100%"
    >
      <v-card-text>
        <div>{{dateFormatted}}</div>
        <p class="text-h4 text--primary">
          {{meal.name}}
        </p>
        <div><strong>{{totalCalories}}</strong> kcal</div>
        <div><strong>{{totalFats}}</strong> gr. de lipide(s)</div>
        <div><strong>{{totalCarbs}}</strong> gr. de glucide(s)</div>
        <div><strong>{{totalProteins}}</strong> gr de protéine(s)</div>
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          color="success"
          @click="reveal = !reveal"
          icon
        >
          <v-icon>
            mdi-format-list-bulleted
          </v-icon>
        </v-btn>
        <v-btn
          text
          color="primary"
          @click="dialogUpdate = true"
          icon
        >
          <v-icon>
            mdi-pencil
          </v-icon>
        </v-btn>
        <v-btn
          text
          color="red"
          @click="dialogDelete = true"
          icon
        >
          <v-icon>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <v-card
          v-if="reveal"
          class="transition-fast-in-fast-out v-card--reveal"
        >
          <v-card-text class="pb-0">
            <p class="text-h5 text--primary">
              Aliments:
            </p>
            <p v-for="(food, idx) in meal.Food" :key="idx">
              <strong>{{ food.name}}</strong>:
              {{ food.calories }} calorie(s), 
              {{ food.fats }} gr. de lipide(s), 
              {{ food.carbs }} gr. de glucide(s) et
              {{ food.proteins }} gr. de protéine(s).
            </p>
          </v-card-text>
          <v-card-actions class="pt-0">
            <v-btn
              text
              color="error"
              @click="reveal = false"
            >
              Fermer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-expand-transition>
    </v-card>
    <br>
    <v-dialog
      v-model="dialogUpdate"
      max-width="850px"
    >
      <v-form @submit.prevent="updateMeal()" v-model="valid"> 
        <v-card>
          <v-card-title>
            <span class="text-h5">Modifier le repas du <strong>{{ dateFormatted }}</strong></span>:
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  sm="8"
                >
                  <v-text-field
                    v-model="mealName"
                    label="Nom du repas"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="hour"
                    type="time"
                    label="Durée (min)"
                    :rules="hourRules"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <h3>Listes des aliments:</h3><br>
              <v-row v-for="(food,i) in meal.Food" :key="`${i}-${food.id}`">
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="food.name"
                    label="Nom de l'aliment"
                    :rules="nameRules"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="food.calories"
                    label="Calories"
                    :rules="caloriesRules"
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="food.fats"
                    label="Lipides"
                    :rules="fatsRules"
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="food.carbs"
                    label="Glucides"
                    :rules="carbsRules"
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="food.proteins"
                    label="Protéines"
                    :rules="proteinsRules"
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-btn
                    class="ma-2"
                    v-if="meal.Food.length > 1"
                    @click="isFood = true, dialogDelete = true, foodId = food.id"
                    icon
                    color="red"
                  >
                    <v-icon>mdi-delete-outline</v-icon>
                  </v-btn>
                </v-col>           
              </v-row>
              <!-- ADD NEW FOOD -->
              <v-form @submit.prevent="addFood()" v-model="foodValid">
                <br><br>
                <h3>Ajouter un aliment:</h3><br>
                <v-row> 
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-combobox
                      v-model="newFood.name"
                      :items="favouriteFoods"
                      item-text="name"
                      label="Nom de l'aliment"
                      :rules="nameRules"
                      dense
                      :return-object="false"
                      @change="selectedItemChanged()"
                    ></v-combobox>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-text-field
                      v-model="newFood.calories"
                      label="Calories"
                      :rules="caloriesRules"
                      type="number"
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-text-field
                      v-model="newFood.fats"
                      label="Lipides"
                      :rules="fatsRules"
                      type="number"
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-text-field
                      v-model="newFood.carbs"
                      label="Glucides"
                      :rules="carbsRules"
                      type="number"
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-text-field
                      v-model="newFood.proteins"
                      label="Protéines"
                      :rules="proteinsRules"
                      type="number"
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-btn
                      type="submit"
                      icon
                      color="primary"
                      :disabled="!foodValid"
                    >
                      <v-icon>mdi-plus-circle-outline</v-icon>
                    </v-btn>
                  </v-col> 
                </v-row>             
              </v-form>       
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              text
              @click="dialogUpdate = false"
            >
              Fermer
            </v-btn>
            <v-btn
              type="submit"
              color="green"
              text
              :disabled="!valid"
              @click="dialogUpdate = false"
            >
              Enregistrer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="dialogDelete" persistent max-width="500px">
      <v-card>
        <v-card-title v-if="isFood" class="text-h5 justify-center">Voulez-vous supprimer cet aliment ?</v-card-title>
        <v-card-title v-if="!isFood" class="text-h5 justify-center">Voulez-vous supprimer ce repas ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false, isFood = false">Annuler</v-btn>
          <v-btn v-if="isFood" color="red" text @click="deleteFood(foodId)">Supprimer</v-btn>
          <v-btn v-if="!isFood" color="red" text @click="deleteMeal(meal.id, meal.date)">Supprimer</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Emit, Prop } from 'vue-property-decorator';
import ResponseData from '@/types/ResponseData';
import MealService from '@/services/MealService';
import FoodService from '@/services/FoodService';
import { nameRules, hourRules, caloriesRules, carbsRules, fatsRules, proteinsRules } from '@/utils/MealValidation';
import foods from '../data/foods.json';
import Meal from '@/types/Meal';
import Food from '@/types/Food';


@Component
export default class MealDetail extends Vue {

  @Prop() date!: string;
  @Prop() meal!: Meal;
  mealName = this.meal.name;
  hour = this.meal.date.substring(11,16);
  dateFormatted = this.formatDate(this.date);
  foodValid = false;
  valid = false;
  dialogUpdate = false;
  dialogDelete = false;
  isFood = false;
  foodId = -1;
  reveal = false;
  favouriteFoods : Food[] = foods;
  newFood: Food = { 
    id: -1, 
    name: '', 
    calories: 0, 
    fats: 0, 
    carbs: 0, 
    proteins: 0, 
    mealId: this.meal.id 
  };

  totalCalories = 0;
  totalFats = 0;
  totalCarbs = 0;
  totalProteins = 0;

  //Validation rules:
  nameRules = nameRules;
  hourRules = hourRules;
  caloriesRules = caloriesRules;
  carbsRules = carbsRules;
  fatsRules = fatsRules;
  proteinsRules = proteinsRules;

  mounted() : void {
    this.calculate(this.meal)
  }

  calculate (obj: Meal) : void {
    Object.keys(obj).forEach(key => {

      if(key == 'calories'){ this.totalCalories += obj[key]; }
      if(key == 'fats'){ this.totalFats += obj[key]; }
      if(key == 'carbs'){ this.totalCarbs += obj[key]; }
      if(key == 'proteins'){ this.totalProteins += obj[key]; }

      if (typeof obj[key] === 'object') {
        this.calculate(obj[key])
      }
    })
  }

  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    const hour = this.meal.date.substring(11,16);
    return `${day}/${month}/${year} à ${hour}`;
  }

  @Emit("deleteEvent")
  emitDeleteEvent(date : string) : string {
    return date;
  }

  @Emit("deleteMeal")
  emitDeleteMeal(id: number) : number {
    return id;
  }

  @Emit("message")
  emitMessage(message : string) : string {
    return message;
  }

  deleteFood(id: number) : void {
    FoodService.deleteFood(id)
    .then((response: ResponseData) => {
      this.emitMessage(response.message);
      var index = this.meal.Food.findIndex(x => x.id === id);
      this.meal.Food.splice(index);
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  deleteMeal(id: number, date: string) : void {
    MealService.deleteMeal(id)
    .then((response: ResponseData) => {
      this.dialogDelete = false;
      this.emitDeleteEvent(new Date(date).toISOString().substr(0,10));
      this.emitDeleteMeal(id);
      this.emitMessage(response.message);
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  selectedItemChanged() : void {
    const selectedFoodName = this.newFood.name;
    const food = this.favouriteFoods.find(food => food.name === selectedFoodName);
    if(food){
      this.newFood.name = food.name;
      this.newFood.calories = food.calories;
      this.newFood.fats = food.fats;
      this.newFood.carbs = food.carbs;
      this.newFood.proteins = food.proteins;
    }
  }

  addFood() : void {
    let data = {
      name: this.newFood.name,
      calories: this.newFood.calories,
      fats: this.newFood.fats,
      carbs: this.newFood.carbs,
      proteins: this.newFood.proteins
    }
    FoodService.addFood(this.meal.id, data)
    .then((response: ResponseData) => {
      this.newFood.id = response.data.id;
      this.meal.Food.push(this.newFood);
      this.emitMessage(response.message);
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  updateFoods() : void {
    for(let i=0; i<this.meal.Food.length; i++){
      let dataUpdateFood = {
        name: this.meal.Food[i].name,
        calories: this.meal.Food[i].calories,
        fats: this.meal.Food[i].fats,
        carbs: this.meal.Food[i].carbs,
        proteins: this.meal.Food[i].proteins,
      }
      FoodService.updateFood(this.meal.Food[i].id, dataUpdateFood)
      .then(() => {
        this.emitMessage(`Le repas ${this.meal.name} a été mis à jour.`);
      })
      .catch((e: Error) => {
        console.log(e);
      })
    }
  }

  updateMeal() : void {
    let mealDate = new Date(`${this.date} ${this.hour}`);
    let data = {
      name: this.mealName,
      date: mealDate,
    }
    MealService.updateMeal(this.meal.id, data)
    .then((response: ResponseData) => {
      console.log(response.message)
    })
    .catch((e: Error) => {
      console.log(e);
    })
    this.updateFoods();
  }

}
</script>


<style scoped>
  .v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    width: 100%;
  }
</style>