<template>
  <div class="mealStat">
      <v-card
        max-width="85%"
      >
        <v-card-text>
          <p class="text-h4 text--primary" v-if="meals.length>1">
            Statistiques des {{meals.length}} repas :
          </p>
          <p class="text-h4 text--primary" v-if="meals.length<=1">
            Statistiques du repas :
          </p>
        </v-card-text>
        <GChart
          type="PieChart"
          :data="chartData"
          :options="chartOptions"
        />
        <v-card-text>
          <p>Calories: <strong>{{ calories }} kcal</strong></p>
          <p>Lipides: <strong>{{ fats }} gr.</strong></p>
          <p>Glucides: <strong>{{ carbs }} gr.</strong></p>
          <p>Protéines: <strong>{{ proteins }} gr.</strong></p>
        </v-card-text>
      </v-card>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import Meal from '../types/Meal';
import { GChart } from 'vue-google-charts';

@Component({
  components: {
    GChart
  },
})

export default class MealStat extends Vue {

  @Prop() meals!: Meal[];
  calories = 0;
  fats = 0;
  carbs = 0;
  proteins = 0;

  get chartData() {
    return [
      ['Nutriments', 'grammes'],
      ['Protéines', this.proteins],
      ['Glucides', this.carbs],
      ['Lipides', this.fats],
    ]
  }
  chartOptions = {
    chart: {
      title: 'Stats',
    },
    legend: {
			position: 'center',
			alignment: 'center',
		},
    is3D: true,
    backgroundColor: { fill: 'transparent' },
    chartArea:{left:0,top:0, width:"100%", height:"100%"},
    colors: ['#ed4343', "#ffc600", "#963701" ],
    width: 500,
    height: 250
  }

  @Watch('meals')
  onPropertyChanged() : void {
    this.clear();
    this.calculate(this.meals);
  }

  clear() : void {
    this.proteins = 0; this.fats = 0; this.carbs = 0; this.calories = 0;
  }

  calculate (obj) : void {
    Object.keys(obj).forEach(key => {

      if(key == 'calories'){ this.calories += obj[key]; }
      if(key == 'fats'){ this.fats += obj[key]; }
      if(key == 'carbs'){ this.carbs += obj[key]; }
      if(key == 'proteins'){ this.proteins += obj[key]; }

      if (typeof obj[key] === 'object') {
        this.calculate(obj[key])
      }
    })
  }
  
}


</script>

<style scoped>
.mealStat{
  position: fixed;
}
</style>