<template>
  <v-navigation-drawer 
    permanent 
    app 
    class="fill-height" 
    dark
  >
    <v-list-item>
        <v-list-item-content>
            <v-list-item-title class="text-h6">
                Safe GYM
            </v-list-item-title>
            <v-list-item-subtitle>
                {{ $store.state.firstName }} {{ $store.state.lastName }} <i v-if="isAdmin" style="color: #ADFF2F"> (administrateur)</i>
            </v-list-item-subtitle>
        </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list
      v-if="isAdmin"
      dense
      nav
    >
      <v-list-item
        v-for="item in itemsAdmin"
        :key="item.title"
        link
        :to="item.path"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-list
      v-if="!isAdmin"
      dense
      nav
    >
      <v-list-item
        v-for="item in items"
        :key="item.title"
        link
        :to="item.path"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-6">
        <v-btn block color="error" @click="logout()"><v-icon left>mdi-power-standby</v-icon>
          Déconnexion
        </v-btn>
      </div>
    </template>

  </v-navigation-drawer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';


@Component
export default class NavDrawer extends Vue {

  name = "NavDrawer";
  right =  null;
  // user = this.$store.state.user.data.firstName + " " + this.$store.state.user.data.lastName;
  isAdmin = this.$store.state.user.data.role == "admin";

  itemsAdmin = [
    { title: 'Profil', icon: 'mdi-account', path: '/profil' },
    { title: 'Membres', icon: 'mdi-account-supervisor', path: '/members' },
    { title: 'Prévention', icon: 'mdi-alert-decagram', path: '/prevention' },
    { title: 'Safe Mail', icon: 'mdi-email-fast-outline', path: '/safemail' },
  ]

  items = [
    { title: 'Profil', icon: 'mdi-account', path: '/profil' },
    { title: 'Rendez-vous', icon: 'mdi-calendar-month-outline', path: '/rdv' },
    { title: 'Entraînement', icon: 'mdi-weight-lifter', path: '/training' },
    { title: 'Nutrition', icon: 'mdi-silverware-fork-knife', path: '/nutrition' },
  ];

  logout() : void{
    this.$store.dispatch('setToken', null);
    this.$store.dispatch('setUser', null);
    this.$router.push({name:'Login'});
    console.log("Déconnecté")
  }

}
</script>


