<template>
  <div class="rdvForm">
    <v-form @submit.prevent="makeRdv()">
      <v-row>
        <v-col
          cols="6"
          sm="2"
        >
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateFormatted"
                label="Choisissez un jour:"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              @input="menu = false"
              color="green lighten-1"
              :allowed-dates="allowedDates"
              locale="fr"
            ></v-date-picker>
          </v-menu>
          <v-select
            v-model="hour"
            :items="hours.slice(0,7)"
            item-text="value"
            item-disabled="disable"
            item-counter="counter"
            label="Matin"
            dense
            solo
          ></v-select>
          <v-select
            v-model="hour"
            :items="hours.slice(7,19)"
            item-text="value"
            item-disabled="disable"
            label="Après-midi"
            dense
            solo
          ></v-select>
          <v-select
            v-model="hour"
            :items="hours.slice(19,28)"
            item-text="value"
            item-disabled="disable"
            label="Soir"
            dense
            solo
          ></v-select>
        </v-col>
        <v-col
          cols="12"
        >
          <v-checkbox
            :disabled="checkbox30"
            v-model="duration"
            :label="labelCheckbox30"
            color="success"
            value=30
            hide-details
          ></v-checkbox>
          <v-checkbox
            :disabled="checkbox60"
            v-model="duration"
            :label="labelCheckbox60"
            color="success"
            value=60
            hide-details
          ></v-checkbox>
          <v-checkbox
            :disabled="checkbox90"
            v-model="duration"
            :label="labelCheckbox90"
            color="success"
            value=90
            hide-details
          ></v-checkbox>
        </v-col>
        <v-col
          cols="12"
        >
          <p v-if="hour && date">Entraînement le <strong>{{ dateFormatted }}</strong> à <strong>{{ hour }}</strong>, pour une durée de <strong>{{ duration }}</strong> minutes.</p>
        </v-col>
        <v-col
          cols="12"
        >
          <v-btn
            type="submit"
            color="success"
            :disabled="!valid"
          >
          <v-icon left>
            mdi-calendar-check-outline
          </v-icon>
            Confirmer
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <br>
    <v-row>
      <v-col
        cols="6"
        md="6"
      >
      <v-alert
        :value="alert"
        type="success"
        transition="scale-transition"
        dismissible
      >
        Votre avez pris un rendez-vous pour le <strong>{{dateFormatted}}</strong>.
        Un mail de confirmation est envoyé à <strong>{{$store.state.user.data.email}}</strong>.
      </v-alert>
      </v-col>
    </v-row>
    <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :color="color"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
      >
      {{ message }}
        <template v-slot:action="{ attrs }">
          <v-btn
            dark
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          Fermer
          </v-btn>
        </template>
      </v-snackbar>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import RdvService from '@/services/RdvService';
import GymService from '@/services/GymService';
import ResponseData from '@/types/ResponseData';
import Rdv from '../types/Rdv';

@Component
export default class RdvForm extends Vue {

  menu = false;
  gymId = this.$store.state.user.data.gymId;
  date = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10);
  dateFormatted = this.formatDate((new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10));
  hours = [{value:'08:30', disable: true, counter: 0}, {value:'09:00', disable: true, counter: 0}, {value:'09:30', disable: true, counter: 0}, {value:'10:00', disable: true, counter: 0}, 
    {value:'10:30', disable: true, counter: 0}, {value:'11:00', disable: true, counter: 0}, {value:'11:30', disable: true, counter: 0}, {value:'12:00', disable: true, counter: 0}, 
    {value:'12:30', disable: true, counter: 0}, {value:'13:00', disable: true, counter: 0}, {value:'13:30', disable: true, counter: 0}, {value:'14:00', disable: true, counter: 0}, 
    {value:'14:30', disable: true, counter: 0}, {value:'15:00', disable: true, counter: 0}, {value:'15:30', disable: true, counter: 0}, {value:'16:00', disable: true, counter: 0}, 
    {value:'16:30', disable: true, counter: 0}, {value:'17:00', disable: true, counter: 0}, {value:'17:30', disable: true, counter: 0}, {value:'18:00', disable: true, counter: 0}, 
    {value:'18:30', disable: true, counter: 0}, {value:'19:00', disable: true, counter: 0}, {value:'19:30', disable: true, counter: 0}, {value:'20:00', disable: true, counter: 0}, 
    {value:'20:30', disable: true, counter: 0}, {value:'21:00', disable: true, counter: 0}, {value:'21:30', disable: true, counter: 0}, {value:'22:00', disable: true, counter: 0}
  ]
  hour = '';
  duration = 0;
  alert = false;
  message = '';
  rdvs: Rdv[] = [];
  MAXPLACES = -1;
  checkbox30 = false; labelCheckbox30 = "30 min"
  checkbox60 = false; labelCheckbox60 = "60 min"
  checkbox90 = false; labelCheckbox90 = "90 min"

  //Snackbar parameters
  color = 'error';
  mode = 'multi-line';
  snackbar = false;
  text = '';
  timeout = 7000;
  x = null;
  y = 'bottom';
  
  
  mounted () : void {
    this.getGym();
    this.onPropertyChanged();
  }

  isDisabled(hour: string, date: string) : boolean {
    const today:string = new Date().toISOString().substr(0, 10);
    if(today.localeCompare(date) == 0) {
      let str:string = new Date().getHours() + ':' + new Date().getMinutes(); //Current time HH:MM
      return hour < str;
    } 
    else {
      return false;
    } 
  }
  
  get valid() : number | string {
    return this.hour && this.duration;
  }
  
  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  allowedDates (val : string) : boolean {
    var dayRange = new Date(Date.now() + (3600 * 1000 * 144));
    return val >= new Date().toISOString().substr(0, 10) && val <= dayRange.toISOString().substr(0, 10);
  }

  clearInputs() : void {
    this.hour = ''; this.duration = 0;
  }

  @Watch('date')
  onPropertyChanged() : void {
    this.dateFormatted = this.formatDate(this.date);
    this.clearInputs();
    this.getAllByDate();
    for (var i = 0; i < this.hours.length; i++) {
      this.hours[i].disable = this.isDisabled(this.hours[i].value, this.date);
    }
    this.hour = '';
  }

  clearDisponibility() : void {
    for(let i = 0; i < this.hours.length; i++){
      this.hours[i].counter = 0;
    }
  }

  @Watch('hour')
  onHourChanged() : void {
    this.checkbox30 = false; this.checkbox60 = false; this.checkbox90 = false; this.duration = 0;
    this.labelCheckbox30 = "30 min"; this.labelCheckbox60 = "60 min"; this.labelCheckbox90 = "90 min";
    let position = -1;
      for(let i = 0; i < this.hours.length; i++){
        if(this.hours[i].value.localeCompare(this.hour) == 0){ position = i }
      }
      if(this.hours[position+1].counter >= this.MAXPLACES) { this.checkbox60 = true; this.checkbox90 = true; this.labelCheckbox60 = "60 min (INDISPONIBLE)"; this.labelCheckbox90 = "90 min (INDISPONIBLE)" }
      else if (this.hours[position+2].counter >= this.MAXPLACES) { this.checkbox90 = true; this.labelCheckbox90 = "90 min (INDISPONIBLE)"}
  }

  updateDisponibility() : void {
    if(this.rdvs.length > 0) {
      for(let i = 0; i < this.rdvs.length; i++) {
        for(let j = 0; j < this.hours.length; j++){
          if(this.rdvs[i].date.substr(11, 5).localeCompare(this.hours[j].value) == 0){
            if(this.rdvs[i].duration == 90) { this.hours[j].counter++; this.hours[j+1].counter++ ; this.hours[j+2].counter++ }
            if(this.rdvs[i].duration == 60) { this.hours[j].counter++; this.hours[j+1].counter++; }
            if(this.rdvs[i].duration == 30) { this.hours[j].counter++ }
          }
          if(this.hours[j].counter >= this.MAXPLACES){
            this.hours[j].disable = true;
          }
        }
      }
    }
  }

  getGym() : void {
    GymService.getGym(this.gymId)
    .then((response: ResponseData) => {
      this.MAXPLACES = response.data.maxPlace
    })
    .catch((e: Error) =>{
      console.log(e);
    })
  }

  getAllByDate() : void {
    this.clearDisponibility();
    RdvService.getRdvs(this.date)
    .then((response: ResponseData) =>{
      this.rdvs = response.data;
      this.updateDisponibility();
    })
    .catch((e: Error) =>{
      console.log(e);
    })
  }

  makeRdv() : void {
    var arr = this.hour.split(':'); //Hour choosen (string)
    var hour = parseInt(arr[0]);
    var min = parseInt(arr[1]);
    var date = new Date(this.date);
    date.setHours(date.getHours() + hour); date.setMinutes(date.getMinutes() + min);

    let data = {
      date: date,
      duration: this.duration,
      userId: this.$store.state.user.data.id,
      firstName: this.$store.state.user.data.firstName,
      email: this.$store.state.user.data.email,
    }
    RdvService.makeRdv(data)
      .then(() => {
        this.clearInputs();
        this.alert = true;
        this.onPropertyChanged();
        setTimeout(()=>{
          this.alert=false
        },5000)
      })
      .catch(err => {
        this.message = err.response.data.message;
        this.snackbar = true;
      });
  }
  
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

p {
  font-family: 'Oxygen', sans-serif;
  color: rgb(0, 0, 0);
}
</style>