<template>
  <div class="rdvList">
    <h4 v-if="rdvs.length <= 0">Vous n'avez pas encore de rendez-vous.</h4>
    <v-simple-table
      v-if="rdvs.length > 0"
      fixed-header
      height="auto"
    >
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Date
          </th>
          <th class="text-left">
            Heure
          </th>
          <th class="text-left">
            Durée (min)
          </th>
          <th class="text-left">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in rdvs"
          :key="item.date"
        >
          <td>{{ formatDate(item.date) }}</td>
          <td>{{ formatHour(item.date) }}</td>
          <td>{{ item.duration }}</td>
          <td>
            <v-icon
              small
              color="red"
              @click="dialog = true, current = item"
            >
              mdi-close-circle
            </v-icon>
          </td>
        </tr>
      </tbody>
    </template>
    </v-simple-table>
    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        max-width="350"
      >
        <v-card>
          <v-card-title class="text-h5">
            Supprimer ?
          </v-card-title>
          <v-card-text>
            Voulez-vous supprimer ce rendez-vous ?
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              text
              @click="dialog = false"
            >
              Annuler
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="deleteConfirm"
            >
              Confirmer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <br><br>
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="4"
      >
      <v-alert
        v-model="alert"
        type="info"
        transition="scale-transition"
        dismissible
      >
        Le rendez-vous a été annulé.
      </v-alert>
      </v-col>
    </v-row>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RdvService from '@/services/RdvService';
import ResponseData from '@/types/ResponseData';
import Rdv from '../types/Rdv';


@Component
export default class RdvList extends Vue {

  rdvs: Rdv[] = [];
  userId: number = this.$store.state.user.data.id;
  dialog = false;
  editedIndex = -1;
  alert = false;
  current: Rdv = this.rdvs[0];
  message = '';

  mounted () : void {
    RdvService.getAll(this.userId)
    .then((response: ResponseData) =>{
      this.rdvs = response.data;
    })
    .catch((e: Error) =>{
      console.log(e);
    })
  }

  formatDate (date: string ) : string | null {
    if (!date) return null;
    date = date.substr(0, 10)
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  formatHour (hour: string) : string | null {
    hour = hour.substr(11, 5)
    return hour;
  }

  deleteConfirm() : void {
    this.editedIndex = this.rdvs.indexOf(this.current);
    RdvService.delete(this.rdvs[this.editedIndex].id)
    .then((response: ResponseData) =>{
      this.rdvs.splice(this.editedIndex, 1);
      this.message = response.message;
      this.alert = true;
      this.dialog = false;
      setTimeout(()=>{
        this.alert = false
      },5000)
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

}
</script>
