<template>
  <div class="trainingDetail">
    <v-card
      max-width="100%"
    >
      <v-card-text>
        <div>{{dateFormatted}}</div>
        <p class="text-h4 text--primary">
          {{training.name}}
        </p>
        <div><strong>{{duration}}</strong> minutes</div>
      </v-card-text>
      <v-card-actions>
        <v-btn
          text
          color="success"
          @click="reveal = !reveal"
          icon
        >
          <v-icon>
            mdi-format-list-bulleted
          </v-icon>
        </v-btn>
        <v-btn
          text
          color="primary"
          @click="dialogUpdate = true"
          icon
        >
          <v-icon>
            mdi-pencil
          </v-icon>
        </v-btn>
        <v-btn
          text
          color="red"
          @click="dialogDelete = true"
          icon
        >
          <v-icon>
            mdi-delete
          </v-icon>
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <v-card
          v-if="reveal"
          class="transition-fast-in-fast-out v-card--reveal"
        >
          <v-card-text class="pb-0">
            <p class="text-h5 text--primary">
              Exercices:
            </p>
            <p v-for="(exercise, idx) in training.Exercises" :key="idx">
              <strong>{{ exercise.name}}</strong>:
              {{ exercise.set }} série(s) de {{ exercise.repetition }}de répétition(s).
            </p>
          </v-card-text>
          <v-card-actions class="pt-0">
            <v-btn
              text
              color="error"
              @click="reveal = false"
            >
              Fermer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-expand-transition>
    </v-card>
    <br>
    <v-dialog
      v-model="dialogUpdate"
      max-width="650px"
    >
      <v-form @submit.prevent="updateTraining()" v-model="valid"> 
        <v-card>
          <v-card-title>
            <span class="text-h5">Modifier l'entraînement du <strong>{{ dateFormatted }}</strong></span>:
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  sm="8"
                >
                  <v-text-field
                    v-model="trainingName"
                    label="Nom de l'entraînement"
                    :rules="nameRules"
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="4"
                >
                  <v-select
                  v-model="duration"
                  :items="[30, 45, 60, 90, 120]"
                  label="Durée (min)"
                  :rules="durationRules"
                  required
                ></v-select>
                </v-col>
              </v-row>
              <h3>Listes des exercices:</h3><br>
              <v-row v-for="(exercise,i) in training.Exercises" :key="`${i}-${exercise.id}`">
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    v-model="exercise.name"
                    label="Nom de l'exercice"
                    :rules="nameRules"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="exercise.set"
                    label="Série"
                    :rules="setsRules"
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-text-field
                    v-model="exercise.repetition"
                    label="Répétition"
                    :rules="repetitionsRules"
                    type="number"
                    dense
                    required
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  sm="2"
                >
                  <v-btn
                    v-if="training.Exercises.length > 1"
                    @click="isExercise = true, dialogDelete = true, exerciseId = exercise.id"
                    icon
                    color="red"
                  >
                    <v-icon>mdi-delete-outline</v-icon>
                  </v-btn>
                </v-col>           
              </v-row>
              <!-- ADD NEW EXERCISE -->
              <v-form @submit.prevent="addExercise()" v-model="exerciseValid">
                <br><br>
                <h3>Ajouter un exercice:</h3><br>
                <v-row> 
                  <v-col
                    cols="12"
                    sm="6"
                  >
                    <v-combobox
                      v-model="newExercise.name"
                      :items="favouriteExercises"
                      item-text="name"
                      label="Nom de l'exercice"
                      :rules="nameRules"
                      dense
                      :return-object="false"
                      @change="selectedItemChanged()"
                    ></v-combobox>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-text-field
                      v-model="newExercise.set"
                      label="Série"
                      :rules="setsRules"
                      type="number"
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-text-field
                      v-model="newExercise.repetition"
                      label="Répétition"
                      :rules="repetitionsRules"
                      type="number"
                      dense
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="2"
                  >
                    <v-btn
                      type="submit"
                      icon
                      color="primary"
                      :disabled="!exerciseValid"
                    >
                      <v-icon>mdi-plus-circle-outline</v-icon>
                    </v-btn>
                  </v-col> 
                </v-row>             
              </v-form>       
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              text
              @click="dialogUpdate = false"
            >
              Fermer
            </v-btn>
            <v-btn
              type="submit"
              color="green"
              text
              :disabled="!valid"
              @click="dialogUpdate = false"
            >
              Enregistrer
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="dialogDelete" persistent max-width="510px">
      <v-card>
        <v-card-title v-if="isExercise" class="text-h5 justify-center">Voulez-vous supprimer cet exercice ?</v-card-title>
        <v-card-title v-if="!isExercise" class="text-h5 justify-center">Voulez-vous supprimer cet entraînement ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false, isExercise = false">Annuler</v-btn>
          <v-btn v-if="isExercise" color="red" text @click="deleteExercise()">Supprimer</v-btn>
          <v-btn v-if="!isExercise" color="red" text @click="deleteTraining()">Supprimer</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Emit, Prop } from 'vue-property-decorator';
import ResponseData from '@/types/ResponseData';
import Training from '@/types/Training';
import TrainingService from '@/services/TrainingService';
import ExerciseService from '@/services/ExerciseService';
import { nameRules, durationRules, setsRules, repetitionsRules } from '@/utils/TrainingValidation';
import exercises from '../data/exercises.json';
import Exercise from '@/types/Exercise';


@Component
export default class TrainingDetail extends Vue {

  @Prop() date!: string;
  @Prop() training!: Training;
  trainingName = this.training.name;
  duration = this.training.duration
  dateFormatted = this.formatDate(this.date);
  exerciseValid = false;
  valid = false;
  dialogUpdate = false;
  dialogDelete = false;
  isExercise = false;
  exerciseId = -1;
  reveal = false;
  favouriteExercises : Exercise[] = exercises;
  newExercise: Exercise = {
    id: -1,
    name: '',
    set: 0,
    repetition: 0,
    trainingId: this.training.id
  }

  //Validation rules:
  nameRules = nameRules;
  durationRules = durationRules;
  setsRules = setsRules;
  repetitionsRules = repetitionsRules;


  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  @Emit("deleteEvent")
  emitDeleteEvent(date : string) : string {
    return date;
  }

  @Emit("message")
  emitMessage(message : string) : string {
    return message;
  }

  @Emit("deleteTraining")
  emitDeleteTraining(id: number) : number {
    return id;
  }

  deleteExercise() : void {
    ExerciseService.deleteExercise(this.exerciseId)
    .then((response: ResponseData) => {
     this.emitMessage(response.message);
      var index = this.training.Exercises.findIndex(x => x.id === this.exerciseId);
      this.training.Exercises.splice(index);
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  selectedItemChanged() : void {
    const selectedExerciseName = this.newExercise.name;
    const exercise = this.favouriteExercises.find(food => food.name === selectedExerciseName);
    if(exercise){
      this.newExercise.name = exercise.name;
      this.newExercise.set = exercise.set;
      this.newExercise.repetition = exercise.repetition;
    }
  }

  deleteTraining() : void {
    TrainingService.deleteTraining(this.training.id)
    .then((response: ResponseData) => {
      this.dialogDelete = false;
      this.emitDeleteEvent(new Date(this.training.date).toISOString().substr(0,10));
      this.emitDeleteTraining(this.training.id);
      this.emitMessage(response.message);
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  addExercise() : void {
    let data = {
      name: this.newExercise.name,
      set: this.newExercise.set,
      repetition: this.newExercise.repetition,
    }
    ExerciseService.addExercise(this.training.id, data)
    .then((response: ResponseData) => {
      console.log(this.training.id)
      this.newExercise.id = response.data.id;
      this.training.Exercises.push(this.newExercise);
      this.emitMessage(response.message);
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  updateExercises() : void {
    for(let i=0; i<this.training.Exercises.length; i++){
      let data = {
        name: this.training.Exercises[i].name,
        set: this.training.Exercises[i].set,
        repetition: this.training.Exercises[i].repetition,
      }
      ExerciseService.updateExercise(this.training.Exercises[i].id, data)
      .then(() => {
        this.emitMessage(`L'entraînement ${this.training.name} a été mis à jour.`);
      })
      .catch((e: Error) => {
        console.log(e);
      })
    }
  }

  updateTraining() : void {
    let data = {
      name: this.trainingName,
      duration: this.duration,
    }
    TrainingService.updateTraining(this.training.id, data)
    .then((response: ResponseData) => {
      console.log(response.message)
    })
    .catch((e: Error) => {
      console.log(e);
    })
    this.updateExercises();
  }



}


</script>


<style scoped>
  .v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    width: 100%;
  }
</style>