<template>
  <v-main>
      <HelloWorld msg="Bienvenue sur Safe GYM !"/>
      <h2>Veuillez vous connecter:</h2>
      <v-card width="500" class="mx-auto mt-9" elevation="20" :loading="loading">
        <v-card-title>Connexion:</v-card-title>
          <v-form @submit.prevent="login()" v-model="valid">
            <v-card-text class="text-center">
              <!-- E-mail -->
              <v-text-field 
                label="E-mail" 
                id="email" 
                v-model="email"
                prepend-icon="mdi-email"
                :rules="emailRules"
                required/>
              <!-- Mot de passe -->
              <v-text-field 
                label="Mot de passe"
                id="password"
                v-model="password"
                :type="showPassword ? 'text' : 'password'" 
                prepend-icon="mdi-lock"
                :rules="passwordRules"
                required
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword =! showPassword"/>
              <h3>Pas encore de compte ?</h3>
              <router-link :to="{name: 'Signup'}">Inscrivez-vous</router-link>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn :disabled="!valid" type="submit" color="success">Connexion</v-btn>
            </v-card-actions>
          </v-form>
      </v-card>
      <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :color="color"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
      >
      {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn
            dark
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          Fermer
          </v-btn>
        </template>
      </v-snackbar>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator';
import HelloWorld from '../components/HelloWorld.vue';
import AuthenticationService from '@/services/AuthenticationService';
import ResponseData from '../types/ResponseData';

@Component({
  components: {
    HelloWorld,
  },
})

/* eslint-disable */
export default class Login extends Vue {

  name = "Login";
  valid = false;
  loading = false;
  showPassword = false;
  email = "";
  emailRules = [
    v => !!v || "E-mail requis",
    v => /.+@.+\..+/.test(v) || 'Votre e-mail doit être valide',   
  ];

  password = "";
  passwordRules = [
    v => !!v || "Mot de passe requis",
    v => v.length >= 4  || 'Le mot de passe doit contenir au moins 4 caractères',
  ];

  //Snackbar parameters
  color = 'error';
  mode = 'multi-line';
  snackbar = false;
  text = '';
  timeout = 10000;
  x = null;
  y = 'bottom';

  login() {
    this.loading = true;
    let data = {
      email: this.email,
      password: this.password,
    };
    AuthenticationService.login(data)
      .then((response: ResponseData) =>{
        this.loading = true;
        this.$store.dispatch('setToken', response.data.token);
        this.$store.dispatch('setUser', response.data);
        this.$router.push({name: 'Home'});
        setTimeout(()=>{ window.location.reload(); },100)
      }).catch(err =>{
        this.loading = false;
        this.text = err.response.data.message;
        this.snackbar = true;
      });
  };

}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #dae5f0;
}
</style>

