<template>
  <div class="members">
    <h1>Membres :</h1>
    <hr><br>
    <v-data-table
      :headers="headers"
      :items="users"
      sort-by="created"
      class="elevation-1"
      :search="search"
      :loading="loading"
      loading-text="Loading... Please wait"
    >
      <template v-slot:[`item.role`]="{ item }">
        <v-chip
          :color="getColor(item.role)"
          dark
        >
          {{ item.role }}
        </v-chip>
      </template>
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>Membres de Safe GYM</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field><v-spacer></v-spacer>
          <!-- Dialog for new/edit member -->
          <v-form @submit.prevent="save()" v-model="valid" ref="form">
            <v-dialog
              v-model="dialog"
              max-width="600px"
              persistent
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
                ><v-icon left>mdi-account-plus</v-icon>
                  Nouveau membre
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">{{ formTitle() }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          v-model="editedItem.firstName"
                          label="Prénom"
                          :counter="20"
                          :rules="firstNameRules"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                        md="6"
                      >
                        <v-text-field
                          v-model="editedItem.lastName"
                          label="Nom"
                          :counter="20"
                          :rules="lastNameRules"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                      >
                        <v-text-field
                          v-model="editedItem.email"
                          label="E-mail"
                          :rules="emailRules"
                          required
                          :error-messages="mailMessage"
                          @keyup="emailExists()"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        md="9"
                      >
                        <v-text-field
                          v-model="editedItem.street"
                          label="Rue"
                          :counter="30"
                          :rules="streetRules"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        md="3"
                      >
                        <v-text-field
                          v-model="editedItem.number"
                          label="Numéro"
                          type="number"
                          :rules="numberRules"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        md="4"
                      >
                        <v-text-field
                          v-model="editedItem.zipcode"
                          label="Code postale"
                          type="number"
                          :rules="zipcodeRules"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        md="8"
                      >
                        <v-text-field
                          v-model="editedItem.city"
                          label="Ville"
                          :rules="cityRules"
                          required
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="9"
                        md="9"
                        v-if="editedIndex == -1"
                      >
                        <v-text-field
                          v-model="editedItem.password"
                          label="Mot de passe"
                          :rules="passwordRules"
                          required
                          :type="showPassword ? 'text' : 'password'"
                          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                          @click:append="showPassword =! showPassword"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="3"
                        md="3"
                      >
                        <v-select
                          v-model="editedItem.role"
                          :items="roles"
                          label="Rôle"
                          required
                        ></v-select>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close()">Annuler</v-btn>
                  <v-btn type="submit" color="success" :disabled="!valid" text @click="save()">Enregistrer</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-form>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5 justify-center">Voulez-vous supprimer ce membre ?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Annuler</v-btn>
                <v-btn color="red" text @click="deleteMember()">Supprimer</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.created`]="{ item }">
        <span>{{new Date(item.created).toLocaleString().substr(0, 10)}}</span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          color="blue"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          color="red"
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize()"
        >
          Reset
        </v-btn>
      </template>
    </v-data-table>
    <br>
    <v-row>
      <v-col
        cols="12"
        sm="auto"
        md="auto"
      >
      <v-alert
        :value="alert"
        type="success"
        transition="scale-transition"
        dismissible
      >
        {{ message }}
      </v-alert>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :color="color"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ text }}
      
      <template v-slot:action="{ attrs }">
        <v-btn
          dark
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Fermer
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component} from 'vue-property-decorator';
import ResponseData from '@/types/ResponseData';
import UserService from '../services/UserService';
import { firstNameRules, lastNameRules, emailRules, streetRules, numberRules, zipcodeRules, cityRules, passwordRules } from '../utils/SignupValidation';
import User from '../types/User';

/* eslint-disable */
@Component
export default class Members extends Vue {

  name = "Members";
  loading = false;
  dialog = false;
  dialogDelete = false;
  valid = false;
  showPassword = false;
  alert = false;
  mailMessage=""
  search = '';
  message = '';
  roles = ['admin', 'member'];

  //Validation rules
  firstNameRules = firstNameRules;
  lastNameRules = lastNameRules;
  emailRules = emailRules;
  streetRules = streetRules;
  numberRules = numberRules;
  zipcodeRules = zipcodeRules;
  cityRules = cityRules;
  passwordRules = passwordRules;

  //Snackbar parameters
  color = 'error';
  mode = 'multi-line';
  snackbar = false;
  text = '';
  timeout = 10000;
  x = null;
  y = 'bottom';

  headers = [
    { text: 'Prénom', value: 'firstName', align: 'start', sortable: false },
    { text: 'Nom', value: 'lastName' },
    { text: 'E-mail', value: 'email' },
    { text: 'Rue', value: 'street' },
    { text: 'Numéro', value: 'number' },
    { text: 'Code postale', value: 'zipcode' },
    { text: 'Ville', value: 'city' },
    { text: 'Membre depuis', value: 'created' },
    { text: 'Rôle', value: 'role' },
    { text: 'Actions', value: 'actions', sortable: false },
  ];

  users: User[] = [];
  editedIndex = -1;
  editedItem: User = {
    id: -1,
    firstName: '',
    lastName: '',
    email: '',
    street: '',
    number: 0,
    zipcode: 0,
    city: '',
    password: '',
    role : 'member',
    created : (new Date(Date.now() - (new Date()).getTimezoneOffset())).toISOString().toLocaleString(),
    gymId: this.$store.state.user.data.gymId,
  };
  defaultItem = {
    id: -1,
    firstName: '',
    lastName: '',
    email: '',
    street: '',
    number: 0,
    zipcode: 0,
    city: '',
    password: '',
    role: 'member',
    created : (new Date(Date.now() - (new Date()).getTimezoneOffset())).toISOString().substr(0, 10),
    gymId : this.$store.state.user.data.gymId,
  };

  emailExists() : void {
    this.mailMessage = "";
    for(var i = 0; i < this.users.length; i++){
      if(this.users[i].email == this.editedItem.email){
        this.mailMessage = `Cet mail existe déja`;
      }
    }
  }

  formTitle () : string {
    return this.editedIndex === -1 ? 'Nouveau membre' : 'Editer membre'
  }

  getColor (role) {
    if (role == "admin" ) return 'green'
    else if (role == "member") return 'orange'
  }

  mounted () : void {
    this.initialize()
  }

  editItem (item) : void {
    this.editedIndex = this.users.indexOf(item)
    this.editedItem = Object.assign({}, item)
    this.dialog = true;
  }

  deleteItem (item) : void {
    this.editedIndex = this.users.indexOf(item)
    this.editedItem = Object.assign({}, item)
    this.dialogDelete = true
  }

  deleteMember () : void {
    let userId = this.users[this.editedIndex].id;
    UserService.deleteUser(userId)
    .then((response: ResponseData) => {
      this.users.splice(this.editedIndex, 1)
      this.message = response.message;
      this.alert = true;
      setTimeout(()=>{
        this.alert=false
      },5000);
      this.closeDelete()
    })
    .catch((e: Error) => {
      console.log(e.message);
    })
  }

  close () : void {
    this.dialog = false
    this.$nextTick(() => {
      this.editedItem = Object.assign({}, this.defaultItem)
      this.editedIndex = -1
    });
    (this.$refs.form as HTMLFormElement).resetValidation();
  }

  closeDelete () : void {
    this.dialogDelete = false
    this.$nextTick(() => {
      this.editedItem = Object.assign({}, this.defaultItem)
      this.editedIndex = -1
    })
  }

  save () : void {
    let data = {
      firstName: this.editedItem.firstName,
      lastName: this.editedItem.lastName,
      email: this.editedItem.email,
      street: this.editedItem.street,
      number: this.editedItem.number,
      zipcode: this.editedItem.zipcode,
      city: this.editedItem.city,
      password: this.editedItem.password,
      role: this.editedItem.role,
      gymId: this.editedItem.gymId,
    }
    if (this.editedIndex > -1) {
      Object.assign(this.users[this.editedIndex], this.editedItem)
      UserService.updateUser(this.editedItem.id, data)
      .then((response: ResponseData) => {
        this.message = response.message;
        this.close();
        setTimeout(()=>{
          this.alert=false
        },5000);
      })
      .catch(err => {
        this.dialog = false;
        this.text = err.response.data.errors[0].msg;
        this.snackbar = true;
      });
    } else {
      UserService.createUser(data)
      .then((response: ResponseData) => {
        this.editedItem.id = response.data.id
        this.users.push(this.editedItem);
        this.message = response.message;
        this.alert = true;
        this.close();
        setTimeout(()=>{
          this.alert=false
        },5000);
      })
      .catch(err => {
        this.dialog = false;
        this.text = err.response.data.errors[0].msg;
        this.snackbar = true;
      });
    }
  }

  initialize () : void {
    this.loading = true;
    UserService.getAll()
    .then((response: ResponseData) => {
      this.users = response.data;
      this.loading = false;
    })
    .catch((e: Error) => {
      console.log(e);
      this.text = e.message;
      this.snackbar = true;
    })
  }
    
}
</script>

<style scoped>
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2c3e50;
}
</style>