<template>
  <div class="NotFound">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card height="400" color="transparent" flat>
            <div class="display-1 mt-5 mb-5 text-uppercase">
              404 PAGE NOT FOUND !
            </div>
            <div class="grey--text lighten-5 mb-5">
              La page que vous essayez d'accéder n'existe pas.
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style>
.paragraph-text {
  font-size: 18px;
}
</style>