<template>
  <div class="nutrition">
    <h1>Nutrition :</h1>
    <hr><br>
      <v-row>
        <v-col
          cols="6"
          md="4"
        >
          <v-date-picker
            ref="picker"
            v-model="date"
            :events="events"
            full-width
            elevation="15"
            color="green"
            event-color="primary"
            locale="fr"
          ></v-date-picker>
          <v-row>
            <v-col
              cols="6"
              sm="6"
            > <br>
              <v-btn
                type="submit"
                color="success"
                @click="dialog = true"
              >
                <v-icon left>
                  mdi-silverware-fork-knife
                </v-icon>
                  Ajouter un repas
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <br>
              <v-col
                cols="12"
                md="auto"
              >
              <v-alert
                :value="alert"
                type="success"
                transition="scale-transition"
                dismissible
              >
                {{ message }}
              </v-alert>
              </v-col>
          </v-row>
        </v-col>
        <v-col
          cols="6"
          md="3"
          v-show="meals.length <= 0"
        >
          <h4>Aucun repas pour ce jour.</h4>
        </v-col>
        <v-col
          cols="3"
          md="3"
          v-if="isMealExist"
        >
          <MealDetail 
            v-for="(meal, idx) in meals" :key="idx" 
            v-bind:date="date" 
            v-bind:meal="meal"
            @deleteEvent="getDeleteEvent"
            @deleteMeal="getDeleteMeal"
            @message="getMessage"
          />
        </v-col>
        <v-col
          cols="5"
          md="5"
        >
          <MealStat
            v-show="meals.length > 0"
            v-bind:meals="meals"
          />
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-dialog
          v-model="dialog"
          max-width="950px"
        >
          <v-form @submit.prevent="makeMeal()" v-model="valid" ref="form">
            <v-card>
              <v-card-title>
                <span class="text-h5">Créer un repas pour le <strong>{{ dateFormatted }}</strong></span>:
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="7"
                    >
                      <v-text-field
                        v-model="mealName"
                        label="Nom du repas"
                        :rules="nameRules"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="3"
                    >
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        transition="scale-transition"
                        :nudge-left="50"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="dateFormatted"
                            label="Date"
                            persistent-hint
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="date"
                          no-title
                          @input="menu = false"
                          locale="fr"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="hour"
                        type="time"
                        label="Durée (min)"
                        :rules="hourRules"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <h3>Listes des aliments:</h3><br>
                  <v-row v-for="(input,k) in inputs" :key="k">
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-combobox
                        v-model="input.name"
                        :items="favouriteFoods"
                        item-text="name"
                        label="Nom de l'aliment"
                        :rules="nameRules"
                        dense
                        :return-object="false"
                        @change="selectedItemChanged(k)"
                      ></v-combobox>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="input.calories"
                        label="Calories"
                        :rules="caloriesRules"
                        type="number"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="input.fats"
                        label="Lipides"
                        :rules="fatsRules"
                        type="number"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="input.carbs"
                        label="Glucides"
                        :rules="carbsRules"
                        type="number"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="input.proteins"
                        label="Protéines"
                        :rules="proteinsRules"
                        type="number"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-btn
                        @click="remove(k)"
                        v-show="k || ( !k && inputs.length > 1)"
                        icon
                        color="red"
                      >
                        <v-icon>mdi-close-circle-outline</v-icon>
                      </v-btn>
                      <v-btn
                        @click="add()"
                        v-show="k == inputs.length-1"
                        icon
                        color="green"
                      >
                        <v-icon>mdi-plus-circle-outline</v-icon>
                      </v-btn>
                    </v-col>              
                  </v-row>       
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="red"
                  text
                  @click="dialog = false"
                >
                  Fermer
                </v-btn>
                <v-btn
                  type="submit"
                  color="green"
                  text
                  :disabled="!valid"
                >
                  Enregistrer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
      </v-row>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import MealDetail from '../components/MealDetail.vue';
import MealStat from '../components/MealStat.vue';
import ResponseData from '@/types/ResponseData';
import MealService from '@/services/MealService';
import { nameRules, hourRules, caloriesRules, carbsRules, fatsRules, proteinsRules } from '@/utils/MealValidation';
import foods from '../data/foods.json';
import Meal from '../types/Meal';
import Food from '../types/Food';

@Component({
  components: {
    MealDetail,
    MealStat
  },
})

export default class Nutrition extends Vue {

  userId: number = this.$store.state.user.data.id;
  date = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10);
  dateFormatted = this.formatDate((new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10));
  menu = false;
  message = '';
  alert = false;
  dialog = false;
  valid = false;
  isMealExist = false;
  mealName = '';
  hour = '';
  inputs = [{ name: '', calories: 0, fats: 0, carbs: 0, proteins: 0}];
  events: string[] = [];
  meals: Meal[] = [];
  favouriteFoods : Food[] = foods;

  //Validation rules:
  nameRules = nameRules;
  hourRules = hourRules;
  caloriesRules = caloriesRules;
  carbsRules = carbsRules;
  fatsRules = fatsRules;
  proteinsRules = proteinsRules;


  mounted () : void {
    MealService.getAllByUserId(this.userId)
    .then((response: ResponseData) => {
      for (var i = 0; i < response.data.length; i++) {
        this.events[i] = new Date(response.data[i].date).toISOString().substr(0, 10);
      }
    })
    .catch((e: Error) => {
      console.log(e);
    })
    this.onPropertyChanged();
  }

  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  add() : void {
    this.inputs.push({name: '', calories: 0, fats: 0, carbs: 0, proteins: 0});
  }

  remove(index: number) : void {
    this.inputs.splice(index, 1);
  }

  selectedItemChanged(index: number) : void {
    const selectedFoodName = this.inputs[index].name;
    const food = this.favouriteFoods.find(food => food.name === selectedFoodName);
    if(food){
      this.inputs[index].name = food.name;
      this.inputs[index].calories = food.calories
      this.inputs[index].fats = food.fats
      this.inputs[index].carbs = food.carbs
      this.inputs[index].proteins = food.proteins
    }
  }

  clearInputs() : void {
    this.inputs = [{ name: '', calories: 0, fats: 0, carbs: 0, proteins: 0}];
    (this.$refs.form as HTMLFormElement).reset();
    (this.$refs.form as HTMLFormElement).resetValidation();
  }

  getDeleteEvent(value: string) : void {
    this.events.splice(this.events.indexOf(value),1);
  }

  getDeleteMeal(id: number) : void {
    var index = this.meals.findIndex(x => x.id === id);
    this.meals.splice(index);
    this.onPropertyChanged();
  }

  getMessage(value: string) : void {
    this.message = value;
    this.onPropertyChanged();
  }

  @Watch('message')
  onMessageChanged() : void {
    this.alert = true;
    setTimeout(()=>{
      this.alert=false
    },5000)
  }

  @Watch('date')
  onPropertyChanged() : void {
    this.dateFormatted = this.formatDate(this.date);
    this.meals.length = 0;
    MealService.getAll(this.userId, this.date)
    .then((response: ResponseData) => {
      this.meals = response.data;
      this.isMealExist = true;
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  makeMeal() : void {
    this.dialog = false;
    let mealDate = new Date(`${this.date} ${this.hour}`);
    let data = {
      name: this.mealName,
      date: mealDate,
      userId: this.userId,
      food: this.inputs,
    }
    MealService.makeMeal(data)
    .then((response: ResponseData) => {
      this.events.push(new Date(response.data.date).toISOString().substr(0, 10));
      this.message = response.message;
      this.clearInputs();
      this.onPropertyChanged();
    })
    .catch(err => {
      console.log(err);
    });
  }

}

</script>


<style>
  h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2c3e50;
  }
</style>
