<template>
  <div class="prevention">
    <h1>Prévention :</h1>
    <hr><br>
    <v-row>
      <v-col
        cols="12"
        sm="2"
      >
        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="dateFormatted"
              label="Choisissez un jour:"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            @input="menu = false"
            color="error"
            locale="fr"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <v-card>
      <v-card-title>
        Liste des membres qui se sont entraînés le&nbsp;<strong>{{ dateFormatted }}</strong>:
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="users"
        :search="search"
        :loading="loading"
      >
        <template v-slot:[`item.Rdvs`]="{ item }">
            <div v-for="rdv in item.Rdvs" :key="rdv.id">
              {{ rdv.date.substr(11,5) }}
            </div>
      </template>
      </v-data-table>
    </v-card>
    <br>
    <v-row v-if="users.length > 0">
      <v-col
        cols="12"
        sm="6"
      >
        {{users.length}} personnes se sont entraînées le <strong>{{ dateFormatted }}</strong>.
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
      >
        <v-btn
          v-show="users.length > 0"
          class="ma-2"
          :loading="loadingButton"
          :disabled="loadingButton"
          color="error"
          @click="loader='loadingButton', send()"
        >
          <v-icon left>
            mdi-email-fast-outline
          </v-icon>
            Prévenir les membres !
          <template v-slot:loader>
            <span class="custom-loader">
              <v-icon light>mdi-cached</v-icon>
            </span>
          </template>
        </v-btn>
      </v-col>
    </v-row>
    <br>
    <v-col
      cols="12"
      sm="6"
    >
      <v-alert
        :value="alert"
        type="success"
        transition="scale-transition"
        dismissible
      >
        {{ message }}
      </v-alert>
    </v-col>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ResponseData from '@/types/ResponseData';
import UserService from '../services/UserService';
import User from '../types/User';


@Component
export default class Prevention extends Vue {

  data = false;
  menu = false;
  loading = false;
  loadingButton = false;
  alert = false;
  loader: number |string = '';
  search = ''
  message = '';
  date = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10);
  dateFormatted = this.formatDate((new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10));
  users: User[] = [];
  emails: string[] = [];


  headers = [
    { text: 'Prénom', value: 'firstName', align: 'start', sortable: false },
    { text: 'Nom', value: 'lastName', sortable: false },
    { text: 'E-mail', value: 'email', sortable: false },
    { text: `Heure d'entraînement`, value: 'Rdvs', align: 'left' },
  ];

  mounted () : void {
    this.onPropertyChanged();
  }

  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  @Watch('date')
  onPropertyChanged() : void {
    this.dateFormatted = this.formatDate(this.date);
    this.searchMembers();
  }

  @Watch('loader') 
  loaderChanged() : void {
    const l = this.loader
    this[l] = !this[l]
    setTimeout(() => (this[l] = false, this.alert = true), 2000)
    setTimeout(()=>{this.alert=false},7000);
    this.loader = 0;
  }

  searchMembers() : void {
    this.loading = true;
    UserService.getUserByRdvDate(this.date)
    .then((response: ResponseData) => {
      this.loading = false;
      this.users = response.data;
      this.emails.length = 0; //clear emails array
      for (var i = 0; i < this.users.length; i++) {
        this.emails[i] = this.users[i].email;
      }
    })
    .catch((e: Error) => {
      console.log(e.message);
    })
  }

  send() : void {
    let data = {
      emails: this.emails,
      date: this.date
    }
    UserService.sendPreventionMail(data)
    .then((response: ResponseData) => {
      this.message = response.message;
    })
    .catch(err => {
      console.log(err);
    });
  }

}

</script>

<style>
  h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2c3e50;
  }
  
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>