<template>
    <div class="profil">
			<h1>Profil :</h1>
			<hr><br>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
        >
          <InfoMember @message="getMessage"/>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          md="4"
        >
          <InfoGym v-if="isAdmin" @message="getMessage"/>
        </v-col>
      </v-row>
      <br><br>
			<v-row>
        <v-col
          cols="12"
          md="6"
        >
          <v-alert
            :value="alert"
            type="success"
            transition="scale-transition"
            dismissible
          >
            {{message}}
          </v-alert>
        </v-col>
    </v-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Watch} from 'vue-property-decorator';
import InfoMember from '../components/InfoMember.vue';
import InfoGym from '../components/InfoGym.vue';


@Component({
  components: {
    InfoMember,
    InfoGym
  },
})
export default class Profil extends Vue{

  isAdmin = this.$store.state.user.data.role == "admin";
  alert = false;
  message = '';

  getMessage(value: string) : void {
    this.message = value;
  }

  @Watch('message')
  onMessageChanged() : void {
    this.alert = true;
    setTimeout(()=>{
      this.alert=false
    },4000)
  }
    
}
</script>

<style scoped>

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #374152;
}
</style>