<template>
  <div class="rdv">
      <h1>Rendez-vous :</h1>
      <hr><br>
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
        >
          <v-btn v-model="rdvForm" small color="success" outlined  @click="currentComponent = 'RdvForm', rdvList = false, rdvForm = true">
            Prendre rendez-vous
          </v-btn>
          <v-btn v-model="rdvList" small color="primary" outlined @click="currentComponent = 'RdvList', rdvList = true, rdvForm = false">
            Mes rendez-vous
          </v-btn>
        <br><br><hr>
        </v-col>
      </v-row>
      <RdvForm v-if="currentComponent === 'RdvForm'"/>
      <RdvList v-else/>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import RdvForm from '../components/RdvForm.vue';
import RdvList from '../components/RdvList.vue';


@Component({
  components: {
    RdvForm,
    RdvList,
  },
})

export default class Rdv extends Vue {

  name = "Rdv";
  currentComponent = "RdvForm";
  rdvForm = true;
  rdvList = false;

}
</script>

<style scoped>

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #374152;
}

</style>