<template>
  <div class="safemail">
    <h1>Messagerie :</h1>
    <hr><br>
    <v-card
      elevation="2"
      outlined
    >
      <v-card-text>
        <v-row>
          <v-col
            cols="12"
            md="8"
          >
            <v-autocomplete
              v-model="email"
              :items="users"
              item-text="email"
              item-value="email"
              chips
              color="success"
              clearable
              deletable-chips
              multiple
              filled
              dense
              label="À :"
            >
              <template v-slot:selection="{ item, index }">
                <v-chip v-if="index === 0">
                  <span>{{ item.email }}</span>
                </v-chip>
                <span
                  v-if="email.length > 1"
                  class="grey--text text-caption"
                >
                  (+{{ email.length - 1 }} autres)
                </span>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col
            cols="1"
            md="1"
          >
             <v-switch
              v-model="switchAdmin"
              inset
              color="success"
              :label="`Admin`"
            ></v-switch>
          </v-col>
          <v-col
            cols="1"
            md="1"

          >
             <v-switch
              v-model="switchMember"
              inset
              color="success"
              :label="`Membre`"
            ></v-switch>
          </v-col>
          <v-col
            cols="1"
            md="1"
          >
             <v-switch
              v-model="switchAll"
              inset
              color="success"
              :label="`TOUS`"
            ></v-switch>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            sm="12"
          >
            <v-text-field
              v-model="object"
              label="Objet"
              outlined
              clearable
              dense
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            sm="12"
          >
            <v-textarea
              v-model="body"
              clearable
              outlined
              clear-icon="mdi-close-circle"
              label="Message"
              counter
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <br>
    <v-btn
      color="success"
      rounded
      :disabled="!valid"
      @click="send()"
    >
      <v-icon left>
        mdi-send
      </v-icon>
      Envoyer
    </v-btn>
    <br><br>
    <v-row>
      <v-col
        cols="12"
        md="auto"
      >
        <v-alert
          :value="alert"
          type="success"
          transition="scale-transition"
          dismissible
        >
          {{ message }}
        </v-alert>
      </v-col>
    </v-row>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator';
import ResponseData from '@/types/ResponseData';
import UserService from '../services/UserService';
import User from '../types/User';

@Component
export default class SafeMail extends Vue {

	object = '';
  email: string [] = [];
  body = '';
  switchAdmin = false;
  switchMember= false;
  switchAll = false;
  message = '';
  alert = false;
  users: User[] = [];

  mounted () : void {
    this.getUsers();
  }

  get valid() : string | boolean {
    return this.email.length > 0 && this.object && this.body;
  }

  @Watch('switchAdmin') 
  switchAdminChanged() : void {
    if(this.switchAdmin == true) {
      this.email = []; this.switchMember = false; this.switchAll = false;
      for (var i = 0; i < this.users.length; i++){
        if(this.users[i].role == 'admin'){
          this.email.push(this.users[i].email);
        }
      }
    }
    else if(this.switchAdmin == false && this.switchAll == false && this.switchMember == false ){ this.email = []; }
  }

  @Watch('switchMember') 
  switchMemberChanged() : void {
    if(this.switchMember == true) {
      this.email = []; this.switchAdmin = false; this.switchAll = false;
      for (var i = 0; i < this.users.length; i++){
        if(this.users[i].role == 'member'){
          this.email.push(this.users[i].email);
        }
      }
    }
    else if(this.switchAdmin == false && this.switchAll == false && this.switchMember == false ){ this.email = []; }
  }

  @Watch('switchAll') 
  switchAllChanged() : void {
    if(this.switchAll == true) {
      this.email = []; this.switchAdmin = false; this.switchMember = false;
      for (var i = 0; i < this.users.length; i++){
        this.email.push(this.users[i].email);
      }
    }
    else if(this.switchAdmin == false && this.switchAll == false && this.switchMember == false ){ this.email = []; }
  }

  @Watch('email')
  emailChanged() : void {
    if(this.email.length <= 0){
      this.switchAdmin = false; this.switchMember = false; this.switchAll = false;
    }
  }

  getUsers() : void {
    UserService.getAll()
    .then((response: ResponseData) => {
      this.users = response.data;
    })
    .catch((e: Error) => {
      console.log(e.message);
    })
  }

  clear() : void {
    this.email = []; this.object = ''; this.body = ''; this.switchAdmin = false; this.switchMember = false; this.switchAll = false;
  }

  send() : void {
    let data = {
      emails: this.email,
      subject: this.object,
      body: this.body
    }
    UserService.sendMail(data)
    .then((response: ResponseData) => {
      this.message = response.message;
      this.alert = true;
      this.clear();
      setTimeout(()=>{
        this.alert=false
      },5000)
    })
    .catch(err => {
      console.log(err);
    });
  }
    
}
</script>

<style scoped>
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2c3e50;
}
.col-md-1 {
  max-width: 10%;
}
</style>


