<template>
  <v-main>
    <HelloWorld msg="Bienvenue sur Safe GYM !"/>
    <h2>Veuillez vous inscrire:</h2>
      <v-card width="500" class="mx-auto mt-9" elevation="20" :loading="loading">
        <v-card-title>Inscription:</v-card-title>
          <v-form @submit.prevent="signup()" v-model="valid">
            <v-card-text class="text-center">
              <!-- Nom -->
              <v-text-field 
                label="Nom" 
                id="lastName" 
                v-model="lastName" 
                :counter="20" 
                prepend-icon="mdi-account-circle"
                :rules="lastNameRules"
                required/>
              <!-- Prénom -->
              <v-text-field 
                label="Prénom" 
                id="firstName" 
                v-model="firstName" 
                :counter="20" 
                prepend-icon="mdi-account-circle"
                :rules="firstNameRules"
                required/>
              <!-- Rue -->  
              <v-text-field 
                label="Rue" 
                id="rue" 
                v-model="street" 
                prepend-icon="mdi-home"
                :rules="streetRules"
                required/>
              <!-- Numéro -->  
              <v-text-field 
                label="Numéro" 
                id="number" 
                v-model="number" 
                type="number" 
                prepend-icon="mdi-home"
                :rules="numberRules"
                required/>
              <!-- Code postale -->  
              <v-text-field 
                label="Code postale" 
                id="number" 
                v-model="zipcode"  
                prepend-icon="mdi-home"
                :rules="zipcodeRules"
                required/>
              <!-- Code postale -->  
              <v-text-field 
                label="Ville" 
                id="city" 
                v-model="city"  
                prepend-icon="mdi-home"
                :rules="cityRules"
                required/>
              <!-- E-mail -->
              <v-text-field 
                label="E-mail" 
                id="email" 
                v-model="email" 
                prepend-icon="mdi-email"
                :rules="emailRules"
                required/>
              <!-- Mot de passe -->
              <v-text-field 
                label="Mot de passe"
                id="password"
                v-model="password"
                :type="showPassword ? 'text' : 'password'"
                prepend-icon="mdi-lock"
                :rules="passwordRules"
                required
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword =! showPassword"/>
              <router-link :to="{name: 'Login'}">Connectez-vous</router-link>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn type="submit" :disabled="!valid" color="primary">Inscription</v-btn>
            </v-card-actions>
          </v-form>
      </v-card>
    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :color="color"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
      >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          dark
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Fermer
        </v-btn>
      </template>
    </v-snackbar>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator';
import HelloWorld from '../components/HelloWorld.vue';
import AuthenticationService from '@/services/AuthenticationService';
import { firstNameRules, lastNameRules, emailRules, streetRules, numberRules, zipcodeRules, cityRules, passwordRules } from '../utils/SignupValidation';
import ResponseData from '@/types/ResponseData';


@Component({
  components: {
    HelloWorld,
  },
})

/* eslint-disable */
export default class Signup extends Vue {

  name = "Signup"
  showPassword = false;
  loading = false;
  valid = false;
  lastName = "";
  firstName = "";
  street = ""
  number = "";
  zipcode = "";
  city = "";
  email = "";
  password = "";

  firstNameRules = firstNameRules;
  lastNameRules = lastNameRules;
  emailRules = emailRules;
  streetRules = streetRules;
  numberRules = numberRules;
  zipcodeRules = zipcodeRules;
  cityRules = cityRules;
  passwordRules = passwordRules; 


  //Snackbar parameters
  color = 'error';
  mode = 'multi-line';
  snackbar = false;
  text = '';
  timeout = 10000;
  x = null;
  y = 'bottom';


  signup(): void {
    this.loading = true;
    let data = {
      firstName: this.firstName,
      lastName: this.lastName,
      street: this.street,
      number: this.number,
      zipcode: this.zipcode,
      city: this.city,
      email: this.email,
      password: this.password,
      gymId: 1
    };
    AuthenticationService.signup(data)
      .then((response: ResponseData) => {
        this.loading = true;
        this.$store.dispatch('setToken', response.data.token);
        this.$store.dispatch('setUser', response.data);
        this.$router.push({name: 'Home'});
      })
      .catch(err => {
        this.loading = false;
        this.text = err.response.data.errors[0].msg;
        this.snackbar = true;
      });
  };

}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #dae5f0;
}
</style>