<template>
  <div class="training">
    <h1>Entraînement :</h1>
    <hr><br> 
      <v-row>
        <v-col
          cols="6"
          md="4"
        >
          <v-date-picker
            ref="picker"
            v-model="date"
            :events="events"
            full-width
            elevation="15"
            color="orange"
            event-color="green lighten-1"
            locale="fr"
          ></v-date-picker>
          <v-row>
            <v-col
              cols="6"
              sm="6"
            > <br>
              <v-btn
                type="submit"
                color="orange"
                @click="dialog = true"
              >
                <v-icon left>
                  mdi-run
                </v-icon>
                  Ajouter un entraînement
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <br>
              <v-col
                cols="12"
              >
              <v-alert
                :value="alert"
                type="success"
                transition="scale-transition"
                dismissible
              >
                {{ message }}
              </v-alert>
              </v-col>
          </v-row>
        </v-col>
        <v-col
          cols="6"
          md="3"
          v-show="trainings.length <= 0"
        >
          <h4>Aucun entraînement pour ce jour.</h4>
        </v-col>
        <v-col
          cols="3"
          md="3"
          v-if="isTrainingExist"
        >
          <TrainingDetail 
            v-for="(training, idx) in trainings" :key="idx" 
            v-bind:date="date" 
            v-bind:training="training"
            @deleteEvent="getDeleteEvent"
            @deleteTraining="getDeleteTraining"
            @message="getMessage"
          />
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-dialog
          v-model="dialog"
          max-width="650px"
        >
          <v-form @submit.prevent="makeTraining()" v-model="valid" ref="form">
            <v-card>
              <v-card-title>
                <span class="text-h5">Plannifier un entraînement pour le <strong>{{ dateFormatted }}</strong></span>:
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                    >
                      <v-text-field
                        v-model="trainingName"
                        label="Nom de l'entraînement"
                        :rules="nameRules"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="3"
                    >
                    <v-menu
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      :nudge-left="50"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="dateFormatted"
                          label="Date"
                          persistent-hint
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date"
                        no-title
                        @input="menu = false"
                        locale="fr"
                      ></v-date-picker>
                    </v-menu>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="3"
                    >
                      <v-select
                        v-model="duration"
                        :items="[30, 45, 60, 90, 120]"
                        label="Durée (min)"
                        :rules="durationRules"
                        required
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row v-for="(input,k) in inputs" :key="k">
                    <v-col
                      cols="12"
                      sm="5"
                    >
                      <v-combobox
                        v-model="input.name"
                        :items="favouriteExercises"
                        item-text="name"
                        label="Nom de l'exercice"
                        :rules="nameRules"
                        dense
                        :return-object="false"
                        @change="selectedItemChanged(k)"
                      ></v-combobox>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="input.set"
                        label="Série"
                        :rules="setsRules"
                        type="number"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="2"
                    >
                      <v-text-field
                        v-model="input.repetition"
                        label="Répétition"
                        :rules="repetitionsRules"
                        type="number"
                        dense
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="3"
                    >
                      <v-btn
                        @click="remove(k)"
                        v-show="k || ( !k && inputs.length > 1)"
                        icon
                        color="red"
                      >
                        <v-icon>mdi-close-circle-outline</v-icon>
                      </v-btn>
                      <v-btn
                        @click="add()"
                        v-show="k == inputs.length-1"
                        icon
                        color="green"
                      >
                        <v-icon>mdi-plus-circle-outline</v-icon>
                      </v-btn>
                    </v-col>              
                  </v-row>       
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="red"
                  text
                  @click="dialog = false"
                >
                  Fermer
                </v-btn>
                <v-btn
                  type="submit"
                  color="green"
                  text
                  :disabled="!valid"
                >
                  Enregistrer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
      </v-row>
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator';
import TrainingDetail from '../components/TrainingDetail.vue';
import ResponseData from '../types/ResponseData';
import TrainingService from '@/services/TrainingService';
import { nameRules, durationRules, setsRules, repetitionsRules } from '@/utils/TrainingValidation';
import exercises from '../data/exercises.json';
import _Training from '../types/Training';
import Exercise from '../types/Exercise'


@Component({
  components: {
    TrainingDetail,
  },
})

export default class Training extends Vue {

  userId: number = this.$store.state.user.data.id;
  dialog = false;
  trainingName = '';
  duration = '';
  menu = false;
  date = (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10);
  dateFormatted = this.formatDate((new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10));
  inputs = [{ name: '', set: 0, repetition: 0}];
  alert = false;
  valid = false;
  message = '';
  isTrainingExist = false;
  events: string[] = [];
  trainings: _Training[] = [];
  favouriteExercises : Exercise[] = exercises;

  //Validation rules:
  nameRules = nameRules;
  durationRules = durationRules;
  setsRules = setsRules;
  repetitionsRules = repetitionsRules;


  mounted () : void {
    TrainingService.getAllByUserId(this.userId)
    .then((response: ResponseData) => {
      for (var i = 0; i < response.data.length; i++) {
        this.events[i] = new Date(response.data[i].date).toISOString().substr(0, 10);
      }
    })
    .catch((e: Error) => {
      console.log(e);
    })
    this.onPropertyChanged();
  }

  getDeleteMessage(value: string) : void{
    this.message = value;
  }

  add() : void {
    this.inputs.push({ name: '', set: 0, repetition: 0 });
  }

  remove(index: number) : void {
    this.inputs.splice(index, 1);
  }

  selectedItemChanged(index: number) : void {
    const selectedExerciseName = this.inputs[index].name;
    const exercise = this.favouriteExercises.find(food => food.name === selectedExerciseName);
    if(exercise){
      this.inputs[index].name = exercise.name;
      this.inputs[index].set = exercise.set;
      this.inputs[index].repetition = exercise.repetition;
    }
  }

  clearInputs() : void {
    this.inputs = [{ name: '', set: 0, repetition: 0 }];
    (this.$refs.form as HTMLFormElement).reset();
    (this.$refs.form as HTMLFormElement).resetValidation();
  }

  getDeleteEvent(value: string) : void {
    this.events.splice(this.events.indexOf(value),1);
  }

  getDeleteTraining(id: number) : void {
    var index = this.trainings.findIndex(x => x.id === id);
    this.trainings.splice(index);
    this.onPropertyChanged();
  }

  getMessage(value: string) : void {
    this.message = value;
    this.onPropertyChanged();
  }

  formatDate (date: string) : string | true {
    if (!date) return true;
    const [year, month, day] = date.split('-');
    return `${day}/${month}/${year}`;
  }

  @Watch('message')
  onMessageChanged() : void {
    this.alert = true;
    setTimeout(()=>{
      this.alert=false
    },5000)
  }

  @Watch('date')
  onPropertyChanged() : void {
    this.dateFormatted = this.formatDate(this.date);
    this.trainings.length = 0;
    TrainingService.getAll(this.userId, this.date)
    .then((response: ResponseData) => {
      this.isTrainingExist = true
      this.trainings = response.data;
    })
    .catch((e: Error) => {
      console.log(e);
    })
  }

  makeTraining() : void {
    this.dialog = false;
    let data = {
      name: this.trainingName,
      date: this.date,
      duration: this.duration,
      userId: this.$store.state.user.data.id,
      exercises: this.inputs,
    }
    TrainingService.makeTraining(data)
    .then((response: ResponseData) => {
      this.events.push(new Date(response.data.date).toISOString().substr(0, 10));
      this.message = response.message;
      this.clearInputs();
      this.onPropertyChanged();
    })
    .catch(err => {
      console.log(err);
    });
  }
    
}
</script>

<style scoped>
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2c3e50;
}
</style>
