<template>
    <v-app>
        <NavDrawer v-if="!$route.meta.hideNavbar"/>
        <v-main id="main" v-if="currentRouteName == 'Login' || currentRouteName =='Signup'">
            <v-container>
                <router-view/>
            </v-container>
        </v-main>
        <v-main v-else id="main_">
            <v-container>
                <router-view/>
            </v-container>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import { Component, Watch, Vue} from 'vue-property-decorator';
import NavDrawer from '../src/components/NavDrawer.vue';
import { Route } from 'vue-router';

@Component({
  components: {
    NavDrawer,
  },
})

export default class App extends Vue {

    name = "App";
    currentRouteName = this.$route.name;

    @Watch('$route', { immediate: true, deep: true })
    onUrlChange (newVal: Route) : void {
        this.currentRouteName = newVal.name;
    }
    
}
</script>


<style lang="scss" scoped>

#main {
    background-image: linear-gradient(to right bottom, #29589f, #5e4285, #722b63, #74193d, #67161a);
}

#main_ {
    background-image: linear-gradient(to top, #a6a6a6, #bcbcbc, #d2d2d2, #e8e8e8, #ffffff);
}

</style>

background-image: linear-gradient(to left top, #534b4b, #7a7476, #a4a0a2, #d0cfd0, #ffffff);
background-image: linear-gradient(to top, #534b4b, #7a7476, #a4a0a2, #d0cfd0, #ffffff);
background-image: linear-gradient(to top, #727272, #939393, #b6b6b6, #dadada, #ffffff);
background-image: linear-gradient(to top, #a6a6a6, #bcbcbc, #d2d2d2, #e8e8e8, #ffffff);